{
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },
  "globals": {
    "jQuery": true
  },
  "rules": {
    "eqeqeq": [2, "smart"],
    "guard-for-in": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unused-vars": [2, {"vars": "local", "args": "none"}],
    "strict": 2,
    "new-cap": 2,
    "quotes": 2,
    "camelcase": 2,
    "no-underscore-dangle": 2,
    "no-new": 2,
    "no-alert": 2,
    "no-use-before-define": 2,
    "consistent-return": 2,
    "no-constant-condition": 2
  }
}
